{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class="col-sm-10">
        <h2 class="text-white my-5">About page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error distinctio reiciendis, molestiae quod laborum fuga voluptate accusamus eligendi consequatur sequi sapiente. Adipisci exercitationem quo iste magni facere nulla unde tempora.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tempore, recusandae porro iste quae incidunt mollitia doloremque beatae ut, sint possimus consectetur! Repudiandae esse eaque non illum odit magnam tempore, eos, fugit optio quo voluptatum voluptate autem iure quia explicabo? Consequuntur, nobis. Nobis placeat odio vel sint qui, aut ratione.</p>
    </div>
{% endblock content %}